<div class="container">
    <div class="row">
        <h1>FormBuilder Help</h1>
    </div>
    <div>
        Welcome to the FAQ page!
    <div>
    <div>
    <header>Getting Started</header>
    <body>    
        <p>
            FormBuilder is an app that has been designed to build simple, easy-to-use forms. There is no need for any prior technical                   skill.
            <ol>
                <li>Start by creating your account. The only information that is needed is your name, email address and a password.                       Make sure your password is a strong password.</li>
                <li>Secondly, the home page is where all of your forms will be located for easy access.
                    <ul>
                        <li>New Form: It allows you to create a new form.</li>
                        <li>Search Bar: It allows you to search for a specific form without having to scroll through the entire list.</li>
                        <li>Responses: This will be where you can access your responses.</li>
                        <li>Edit: This is where you will build your form and make any changes as needed.</li>
                        <li>Settings: It allows you to control the accesibility of the form.</li>
                        <li>Preview/Link: It shows you what the final product looks like.</li>
                    </ul></li>
                <li>The Responses page will allow you to see all of the responses to the form.
                    <ul>
                        <li>The CSV button will allow you to access the responses in an Excel sheet while the PDF button will allow you to                               access the responses on a PDF.</li>
                        <li>There is a search bar at the top of every column that you can use to search for specific words/phrases.</li>                         </ul></li>
                <li>The Edit page allows you to change your form as needed. You can add blocks, delete block and format them to do what you                     need them to.
                    <ul>
                        <li>The Settings buttons on the Edit page will lead you to the Settings page and the Preview button will lead you to                             the final product.</li>
                        <li>PLEASE CLICK ON SAVE WHEN ADDING BLOCKS OR CHANGING THE FORM OR ELSE IT WILL NOT SAVE.</li>
                    </ul></li>
                <li>The Settings page allows you to set the the accessibility of the form.
                    <ul>
                        <li>To keep the form public means that anyone can submit a response without having a FormBuilder account</li>
                        <dd>- Ex. You are a professor and you are asking your students to submit an assignment through FormBuilder. This way                             they do not have to create an account. They can submit the assinment through the link.</dd>
                        <li>To keep the form open means that the form is available to accept responses.</li>
                        <li>The Form URL is the link you can send to others to access the form.</li>
                        <li>If you want to close the form at a certain time, use the expiration time setting.</li>
                        <dd>- Ex. You are a professor and you want your students to submit the assignment by midnight. You can set the                                   settings to close the form at midnight.</dd>
                        <li>URL Redirect is an option that will redirect the user to another website after he/she submits the form.</li>
                        <dd>- Ex. You are a professor and you want to show your students the grading scale after they submit the assignment                               just for their information.</dd>
                    </ul></li>
                <li>The Preview/Link button allows you to preview and test the form.</li>
            </ol>
        </p>
    </body>
    <div>
        Common Problems
            <p>
                <ol>
                    <li>When deleting a block, you must click and drag the block to the right of the screen.</li>
                    <li>You must click "Save" in order to save the block or else your information will be deleted.</li>
                    <li>When using the section block, check "Expand by Default" in order to keep it open for the user.</li>
                </ol>
            </p>
    <div>
        Account Information
    <div>
        Contact Us
        <p>
            If you have any questions, comments or suggestions, please email us at honorsit@central.uh.edu.
        </p>
        
    </div>
</div>